<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegistration</servlet-name>
        <servlet-class>AdminRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdate</servlet-name>
        <servlet-class>AdminUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemoryAll</servlet-name>
        <servlet-class>MemoryAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemoryInsert</servlet-name>
        <servlet-class>MemoryInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemoryUpdate</servlet-name>
        <servlet-class>MemoryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitorCounterSession</servlet-name>
        <servlet-class>VisitorCounterSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemoryDelete</servlet-name>
        <servlet-class>MemoryDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegistration</servlet-name>
        <url-pattern>/AdminRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdate</servlet-name>
        <url-pattern>/AdminUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemoryAll</servlet-name>
        <url-pattern>/MemoryAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemoryInsert</servlet-name>
        <url-pattern>/MemoryInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemoryUpdate</servlet-name>
        <url-pattern>/MemoryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitorCounterSession</servlet-name>
        <url-pattern>/VisitorCounterSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemoryDelete</servlet-name>
        <url-pattern>/MemoryDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
